#add_expire_day_modal{
    display:none;
}

#add_expire_day_modal h2{
    width:400px;
    margin:40px 0 10px;
    padding-bottom:10px;
}

.add_expire_day_modal_content{
    width:200px;
    height:750px;
}

#add_expire_day_form{
    width:500px;
    height:500px;
    position:absolute;

    top:47%;
    bottom:53%;
    left:50%;
    right:50%;
    transform:translate(-50%, -50%);
}

#add_expire_day_requested_petition_list{
    margin-top:10px;
}

#add_expire_day_requested_petition_list{
    height:500px;
    border:1px solid gray;
    padding:5px;
    background-color:#F9F9F9;
}