#change_petition_status_modal{
    width:100%;
    height:100%;
    margin-top:150px;
    z-index:1;
    position:fixed;

    display:none;
}

#change_petition_status_modal h2{
    width:170px;
    margin:40px 0 10px;
    padding-bottom:1;
}

.change_petition_status_modal_content{
    width:200px;
    height:780px;
}

#change_petition_status_form{
    width:500px;
    height:500px;
    position:absolute;
    
    left:50%;
    right:50%;
    top:44%;
    bottom:56%;
    transform:translate(-50%, -50%);
}

#petition_list{
    width:100%;
    height:100%;
    border:1px solid gray;
    box-shadow:none;
    padding:5px;
}