#change_petition_status_modal{
    display:none;
}

#change_petition_status_modal h2{
    margin:40px 0 10px;
}

.change_petition_status_modal_content{
    width:200px;
    height:300px;
    margin-top:150px;
}

#change_petition_status_form{
    width:500px;
    height:500px;
    position:absolute;
    
    left:50%;
    right:50%;
    top:120%;
    transform:translate(-50%, -50%);
}

#petition_id_for_get_status{
    width:98%;
    height:40px;
    padding:5px;
    border:1px solid gray;
    border-radius:12px;
    font-size:15px;
}

#change_status_btn{
    display:none;
}