#login_modal{
    display:none;
}

#login_modal h2{
    margin:40px 0 180px;
}

.login_modal_content{
    width:300px;
    height:400px;
}

#login_form{
    width:500px;
    padding-top:30px;
    position:absolute;

    top:50%;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
}

#login_form input{
    width:490px;
    height:60px;
    padding:0 5px 0 5px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
    font-size:20px;
}