html{
    -ms-user-select:none; 
    -moz-user-select:-moz-none; 
    -webkit-user-select:none; 
    -khtml-user-select:none; 
    user-select:none;
}

body{
    margin:0;
}

.content{
    float:left;
}

.sidebar{
    width:250px;
    height:1000px;
    float:right;
    background-color:#CEF7F4;
}

.profile{
    width:90%;
    margin:0px auto 20px auto;
    padding-bottom:65px;
    border-bottom:1px solid gray;
}

.profile_manager{
    width:90%;
    margin:0px auto 20px auto;
    padding-bottom:20px;
    border-bottom:1px solid gray;
}

.profile_image{
    width:150px;
    height:150px;

    padding:50px 50px 5px 50px;
}

.profile_image img{
    width:90%;
    height:90%;
    border-radius:70%;
}

.profile_infos_non_login{
    width:100%;
    text-align:center;
}

#login{
    width:25%;
    padding:5px 10px 5px 10px;
    margin:0 auto 0 auto;

    cursor:pointer;
    background-color:#E3FEFC;
    border:1px solid gray;
    border-radius:10%;
}

#logout_btn{
    float:right;
}

#profile_br_manager{
    display:none;
}

#login:hover, #myInfo_btn:hover, #myInfo_btn_manager:hover, #managerMenu_btn:hover, #logout_btn:hover{
    background-color:#B8D0D3;
}

#login:active, #myInfo_btn:active, #myInfo_btn_manager:active, #managerMenu_btn:active, #logout_btn:active{
    background-color:gray;
}

.profile_infos_login{
    width:100%;
    text-align:center;
    display:none;
}

.profile_hello{
    padding-bottom:10px;
}

#logout_btn, #myInfo_btn, #managerMenu_btn{
    width:45%;
    text-align:center;
    padding:5px 0 5px 0;
    margin:10px 0 10px 0;
    border-radius:10%;
    cursor:pointer;
    text-align:center;
    background-color:#E3FEFC;
    border:1px solid gray;
}

#myInfo_btn{
    float:left;
}

#myInfo_btn_manager{
    float:left;
}

#managerMenu_btn{
    display:none;
    float:right;
}

#logout_btn_manager{
    width:100%;
    text-align:center;
    padding:5px 0 5px 0;
    margin-top:30px;
    border-radius:10%;
    cursor:pointer;
    text-align:center;
    background-color:#E3FEFC;
    border:1px solid gray;
}

.navigator{
    padding-left:30px;
}