#manager_menu_modal{
    display:none;
}

#manager_menu_modal h2{
    width:110px;
    margin:40px 0 20px 0;
    padding:5px 0 5px 0;
}

.manager_menu_modal_content{
    width:200px;
    height:550px;
}

#manager_menu_btns{
    width:350px;
    margin-top:15px;
    position:absolute;
    top:45%;
    left:37%;
    right:63%;
    transform: translate(-50%, -50%);
}

#manager_menu_btns .general_btn{
    margin-left:20px;
}