@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

html{
    -ms-user-select:none; 
    -moz-user-select:-moz-none; 
    -webkit-user-select:none; 
    -khtml-user-select:none; 
    user-select:none;
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    margin:0;
    background-color:#E8F8F5;
}

.sidebar{
    width:250px;
    height:1300px;
    float:right;
    background-color:#D5F5E3;
}

.profile_non_login{
    width:90%;
    margin:0px auto 20px auto;
    padding-bottom:25px;
    border-bottom:1px solid gray;
}

.profile_non_login #login{
    width:90%;
}

.profile_login{
    width:90%;
    margin:0px auto 20px auto;
    padding-bottom:65px;
    border-bottom:1px solid gray;
}

.profile_manager{
    width:90%;
    margin:0px auto 20px auto;
    padding-bottom:20px;
    border-bottom:1px solid gray;
}

.profile_image{
    width:150px;
    height:150px;

    padding:50px 50px 5px 50px;
}

.profile_image img{
    width:90%;
    height:90%;
    border-radius:100%;
}

.profile_infos_non_login{
    width:100%;
    text-align:center;
}

#login{
    width:25%;
    padding:5px 10px 5px 10px;
    margin:0 auto 0 auto;

    cursor:pointer;
    background-color:white;
    border:1px solid gray;
    border-radius:8px;
}

#logout_btn{
    float:right;
}

#profile_br_manager{
    display:none;
}

#login:hover, #myInfo_btn:hover, #myInfo_btn_manager:hover, #managerMenu_btn:hover, #logout_btn:hover, #logout_btn_manager:hover, #write_petition:hover{
    background-color:#E4E7E7;
}

#login:active, #myInfo_btn:active, #myInfo_btn_manager:active, #managerMenu_btn:active, #logout_btn:active, #logout_btn_manager:active, #write_petition:active{
    background-color:#C5C6C6;
}

.profile_infos_login{
    width:100%;
    text-align:center;
    display:none;
}

.profile_hello{
    padding-bottom:10px;
}

#logout_btn, #myInfo_btn, #managerMenu_btn{
    width:45%;
    text-align:center;
    padding:5px 0 5px 0;
    margin:10px 0 10px 0;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    background-color:white;
    border:1px solid gray;
}

#myInfo_btn{
    float:left;
}

#myInfo_btn_manager{
    float:left;
}

#managerMenu_btn{
    display:none;
    float:right;
}

#logout_btn_manager{
    width:100%;
    text-align:center;
    margin-top:30px;
    padding:5px 0 5px 0;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    background-color:white;
    border:1px solid gray;
}

.modal_layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}

.general_input{
    width:490px;
    height:60px;
    padding:0 5px 0 5px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
    font-size:20px;
}

.general_btn{
    width:100%;
    padding:10px 0 10px 0;
    margin-top:10px;
    border-radius:12px;
    cursor:pointer;
    text-align:center;
    color:black;
    background-color:white;
    border:1px solid gray;
    font-size:20px;
}

.general_btn:hover, .go_back:hover{
    background-color:#E4E7E7;
}

.general_btn:active, .go_back:active{
    background-color:#C5C6C6;
}

.go_back{
    width:100px;
    padding:10px 0 10px 0;
    margin-top:20px;
    border-radius:12px;
    cursor:pointer;
    text-align:center;
    color:white;
    background-color:black;
    font-size:15px;
}

.modal{
    width:100%;
    height:100%;
    margin-top:100px;
    z-index:1;
    position:fixed;
}

.modal_content{
    margin:0 auto 0 auto;
    padding:0px 400px 0px 30px;
    position:relative;
    background:#FFF;
    border:2px solid #666;
    border-radius:10px;
    background-color:#EAFAF1;
}

.sidebar_contents{
    width:90%;
    padding:0 5% 0 5%;
}

#write_petition{
    width:100%;
    text-align:center;
    margin:15px 0 30px 0;
    padding:5px 0 5px 0;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    background-color:white;
    border:1px solid gray;
    display:none;
}

#notice_list{
    padding-left:10px;
}