#myInfo_modal{
    display:none;
}

#myInfo_modal h2{
    width:100px;
    margin:40px 0 10px;
    padding-bottom:10px;
}

.myInfo_modal_content{
    width:200px;
    height:750px;
}

#logout_form, #myInfo_form, #myInfo_pwd_form{
    margin-left:30px;
    width:500px;
}