#register_modal{
    display:none;
}

#register_modal h2{
    margin:40px 0 180px;
}

.register_modal_content{
    width:150px;
    height:550px;
}

#register_form{
    width:300px;
    padding-top:30px;
    position:absolute;

    top:50%;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
}

#register_form input{
    height:40px;
    font-size:15px;
    padding-left:5px;
}

#register_email, #register_pwd, #register_pwd_chk, #register_nickname{
    width:295px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
}

.auth_infos{
    width:100%;
    margin-bottom:10px;
}

#register_grade, #register_authcode{
    width:43%;
    height:30px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
}

#register_grade{
    float:left;
}

#register_authcode{
    float:right;
}

#request_register_btn{
    margin-top:45px;
}

#dont_get_validate_mail{
    padding-top:10px;
    text-align:center;
}

#dont_get_validate_mail:hover{
    cursor:pointer;
    color:purple;
}

#dont_get_validate_mail:active{
    cursor:pointer;
    color:red;
}

#validate_mail_resend_modal{
    display:none;
}

#validate_mail_resend_modal h2{
    width:250px;
    margin:40px 0 180px;
}

.validate_mail_resend_modal_content{
    width:150px;
    height:400px;
}

#resend_email, #resend_new_email, #resend_pwd{
    width:290px;
    border-radius:12px;
    border:1px solid gray;
    height:40px;
    font-size:15px;
    padding-left:5px;
}

#resend_form{
    width:300px;
    padding-top:30px;
    position:absolute;

    top:50%;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
}

#change_email_addr{
    width:300px;
    margin-top:10px;
}