#register_modal{
    display:none;
}

#register_modal h2{
    margin:40px 0 180px;
}

.register_modal_content{
    width:150px;
    height:450px;
}

#register_form{
    width:300px;
    padding-top:30px;
    position:absolute;

    top:50%;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
}

#register_form input{
    height:40px;
    font-size:15px;
    padding-left:5px;
}

#register_email, #register_pwd, #register_pwd_chk, #register_nickname{
    width:295px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
}

.auth_infos{
    width:100%;
    margin-bottom:10px;
}

#register_stdid, #register_authcode{
    width:43%;
    height:30px;
    margin-bottom:5px;
    border-radius:12px;
    border:1px solid gray;
    box-shadow:none;
}

#register_stdid{
    float:left;
}

#register_authcode{
    float:right;
}

#request_register_btn{
    margin-top:45px;
}