#system_setting_modal{
    display:none;
}

#system_setting_modal h2{
    width:150px;
    margin:40px 0 10px;
    padding-bottom:10px;
}

.system_setting_modal_content{
    width:200px;
    height:700px;
}

#system_setting_forms{
    width:500px;
    padding-left:15px;
}

#system_setting_forms input, #system_setting_forms .general_btn{
    border:1px solid gray;
    padding:10px 30px 10px 5px;
    margin-left:10px;
    border-radius:12px;
}

#system_setting_forms .go_back{
    margin-left:10px;
}